@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    /* pour que tout soit inclus dans les width (padding, margin)*/
}


body {
    margin: 0;
    padding: 0;
}

/* partie haute*/

header {
    /*background-color: #96aa99;*/
    text-align: center;
    padding-top: 0.3rem;
    /* j'ai utilisé des valeurs relatives de base, il  me semble que c'est mieux pour le côté adaptation d'écran*/
    padding-bottom: 0.3rem;
    color: black;
    width: 100%;
    /* au cas où, je mets une width qui prend toute la largeur*/
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: "Montserrat", sans-serif;
}

h1 {
    grid-column: 1 / 2;
    text-align: center;
    justify-self: flex-start;
    padding-left: 3rem;
    font-weight: 400;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

nav a {
    text-decoration: none;
    /*pour que les liens ne soient pas soulignés par défaut*/
    color: black;
    padding: 0 0.9rem 0 0.9rem;
    /*pour qu'il y ait un espace entre les liens et au-dessus*/
    font-size: 0.9rem;
    font-weight: 300;
}

nav a:hover {
    text-decoration: underline;
    /*pour que les liens soient soulignés au passage de souris*/
}


/* propriétés pour le footer*/

footer {
    background-color: black;
    text-align: center;
    padding: 1rem;
}

footer p {
    color: white;
    font-size: smaller;
    text-align: center;
}


/* propriétés pour titres, paragraphes*/


h2 {
    margin: 0;
    padding: 0;
    font-size: 4rem;
    text-align: center;
    padding-bottom: 5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

p {
    font-size: 1.2rem;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}


/* propriétés pour la page index*/

.bandeau1 {
    position: relative;
    margin: 0;
    width: 100%;
    aspect-ratio: 3/2;
    height: 80vh;
    background-image: URL(https://images.unsplash.com/photo-1679071191790-1292ab344fe3?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGltYWdlJTIwbm9pciUyMGV0JTIwYmxhbmMlMjBuYXR1cmV8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.couvblanc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.aproposaccueil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem 1.5rem 1rem 1.5rem;
    position: absolute;
    top: 23vh;
    left: 7vw;
    z-index: 2;
    text-align: center;
}

.aproposaccueil h2 {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
    text-align: left;
}

.aproposaccueil p {
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.3rem;
    padding-bottom: 0.2rem;
}

.aproposaccueil a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    transition: all 200ms;
    font-family: "Poppins", sans-serif;
    text-align: left;
}

.contactezmoiaccueil a {
    text-decoration: none;
    font-size: 0.7rem;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    padding: 6px 15px 6px 15px;
    transition: all 200ms;
    font-family: "Poppins", sans-serif;
}

.aproposaccueil a:hover {
    color: #DCAE4E;
}

.contactezmoiaccueil a:hover {
    color: black;
    background-color: #DCAE4E;
}


.container2 {
    margin: 10rem 0 10rem 0;
}

.mesprojetsaccueil {
    display: grid;
    grid-template-columns: 20vw 1fr 1fr 20vw;
    grid-template-rows: auto;
    padding: 0;
}

.mesprojetsaccueil p {
    grid-column: 2/3;
    justify-self: center;
    padding-right: 1rem;
    align-self: center;
}

.container2 h2 {
    text-align: left;
    padding-left: 20vw;
}

.animprojets {
    width: 100%;
    grid-column: 3/4;
    align-self: center;
}

#imgprojets {
    width: 100%;
    padding-left: 1rem;
    opacity: 0.6;
}

#imgprojetshover {
    width: 100%;
    padding-left: 1rem;
    display: none;
}



.bandeau3 {
    margin: 0;
    width: 100%;
    aspect-ratio: 3/2;
    height: 30vh;
    background-image: URL(https://images.unsplash.com/photo-1611908491758-9544a9edb8c0?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTIyfHxtb3RpZiUyMGdyYXBoaXF1ZXxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.container3 {
    display: grid;
    grid-template-columns: 30vw 1fr 30vw;
    grid-template-rows: auto;
    margin: 10rem 0 10rem 0;
    padding: 0;
}

.contactezmoiaccueil {
    grid-column: 2/3;
    text-align: center;
}

.mesprojetsaccueil p,
.contactezmoiaccueil p {
    font-weight: 100;
    font-size: 1rem;
}

.contactezmoiaccueil p {
    padding-bottom: 5rem;
}




/* propriétés pour la page a proposl*/

.bandeau2 {
    margin: 0;
    width: 100%;
    aspect-ratio: 3/2;
    height: 60vh;
    background-image: URL(https://plus.unsplash.com/premium_photo-1681400537683-23c41e6c4c42?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzN8fG1vdGlmJTIwZ3JhcGhpcXVlfGVufDB8fDB8fHww);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.parcours,
.competences {
    margin: 5rem 0 5rem 0;
}

.parcours h2,
.competences h2 {
    margin-bottom: 5rem;
}

.galerieformations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    gap: 8vh;
    margin: 0 auto;
    width: 75%;
}

.formation {
    height: 60vh;
    border: 2px solid #6CBBA6;
    border-radius: 20px;
    transform: scale(1);
    transition: transform 1000ms;
    font-family: "Poppins", sans-serif;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
}

.formation:hover {
    transform: scale(1.08);
}

.logo {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
    padding: 0;
}


.formation h3 {
    font-size: 1.1rem;
    font-weight: 200;
}

.formation p {
    font-size: 0.8rem;
    font-weight: 100;
    text-align: center;
}

.texteformation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.texteformation a {
    transition: all 200ms;
    /*pour initialiser l'animation du lien avec une transition d'un cinquième de seconde*/
}

.texteformation a {
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
}

.texteformation a:hover {
    color: #6CBBA6;
    /*animation passage souris changement de couleur du lien*/
}


.imgcomp {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    /*pour diminuer la largeur de la galerie par rapport à la viewport*/
    margin: 0 auto;
}


img {
    width: 97%;
    padding-left: 10px;
}


#img1_hover,
#img2_hover,
#img3_hover {
    display: none;
}

/* propriétés pour la galerie de la page portfolio*/

.portfolio {
    margin: 5rem 0 5rem 0;
}

button {
    color: black;
    border: none;
    background-color: white;
}

button:hover {
    color: #6CBBA6;
    /*animation passage souris changement de couleur des cat*/
    cursor: pointer;
}

#liensCat {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
}

#liensCat button {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
}


#galerie {
    margin: 7rem auto 4rem auto;
    display: grid;
    grid-template-columns: minmax(230px, 1fr) minmax(230px, 1fr);
    /*organisation de la grille avec un repeat auto-fit, min 350px - pas besoin de media querie*/
    grid-template-rows: auto;
    justify-content: center;
    row-gap: 8vh;
    gap: 4vh;
    width: 70%;
    /*pour diminuer un peu la largeur de la galerie*/
}

#galerie article {
    border: 1px solid #EBE5E5;
    border-radius: 20px;
    transform: scale(1);
    transition: transform 1000ms;
    /*pour initialiser l'animation de grossissement avec une transition d'une seconde*/
    padding: 1rem 1rem 1rem 1rem;
}

#galerie article:hover {
    transform: scale(1.08);
    /*grossissement de 8%*/
}

#galerie img {
    aspect-ratio: 3/2;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: opacity(1);
    transition: filter 1000ms;
    padding: 0;
}

#galerie img:hover {
    filter: opacity(0.6);
    /*animation passage souris changement d'opacité*/
}

#galerie h3 {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
}

#galerie p {
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
}

#galerie a {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all 200ms;
    /*pour initialiser l'animation du lien avec une transition d'un cinquième de seconde*/
    display: flex;
    justify-content: right;
    /*pour que le lien se retrouve à droite : text-align n'a pas fonctionné*/
}

#galerie a:hover {
    color: #6CBBA6;
    /*animation passage souris changement de couleur du lien*/
}

/* propriétés pour le formulaire de la page projet2*/

#lienretour {
    text-align: center;
}

#lienretour a {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all 200ms;
    /*pour initialiser l'animation du lien avec une transition d'un cinquième de seconde*/
}

#lienretour a:hover {
    color: #6CBBA6;
    /*animation passage souris changement de couleur du lien*/
}

.imgprojet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.imgprojet img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 20px;
    padding: 0;
}

.containerprojet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*pour que le contenu de la page projet2 soit organisé en deux colonnes*/
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    width: 70vw;
    /*pour diminuer la largeur de la page projet2 par rapport à la viewport*/
    margin: 0 auto;
    /*pour centrer la page projet2*/
}

.descriptionprojet {
    grid-column: 1/2;
    /*pour que la description soit dans la première colonne*/
}

.galerieprojet {
    grid-column: 2/3;
    /*pour que la galerie soit dans la deuxième colonne*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descriptionprojet h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.descriptionprojet p,
.descriptionprojet h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: gray;
    font-size: 0.9rem;
}

.descriptionprojet hr {
    margin-bottom: 4rem;
}

.galerieprojet form {
    width: 25vw;
    background-color: #DCAE4E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.galerieprojet label {
    padding-left: 0;
    padding-right: 0;
}

.galerieprojet form input {
    width: 60%;
    margin-bottom: 2vh;
    border-radius: 5px;
    outline: none;
    border: none;
}

#boutonForm {
    background-color: black;
    color: white;
    border-radius: 25px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
    width: 6vw;
}

.cartepoke {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    border: 1px solid #EBE5E5;
    border-radius: 20px;
}

.cartepoke #nomPoke,
.cartepoke #poidsPoke {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
}



/* propriétés pour le formulaire de la page contact*/

.contact {
    margin: 5rem 0 5rem 0;
}

form {
    width: 50vw;
    /*pour diminuer la largeur du form par rapport à la viewport*/
    background-color: rgba(108, 187, 166, 0.15);
    border-radius: 5px;
    padding: 20px 0px 20px 0px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    /*pour que le formulaire soit organisé en colonne*/
}

input,
textarea {
    width: 35vw;
    /*pour diminuer la largeur des input et du cadre de texte par rapport à la viewport*/
    margin: 0 auto 3vh auto;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: background-color 1000ms;
    /*pour initialiser l'animation de bordure avec une transition d'une seconde*/
    padding: 1vh;
}

label {
    padding: 1.4vh 1.4vh 1.4vh 6vh;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.bouton {
    margin-top: 8vh;
    background-color: black;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 6px 15px 6px 15px;
    font-family: "Poppins", sans-serif;
    transition: all 200ms;
    /*pour initialiser l'animation du bouton avec une transition d'un cinquième de seconde - je crois*/
    font-size: 0.7rem;
    width: 7rem;
}


.bouton:hover {
    background-color: #6CBBA6;
    /*animation passage souris changement de couleur du bouton*/
    color: black;
    border: none;
    cursor: pointer;
}

input:focus {
    border: 1px solid #60695D;
    /*animation lorsqu'on se trouve dans le champs de saisie : bordure verte*/
}

.error {
    color: rgb(202, 40, 72);
    font-size: 0.8rem;
    margin: -4vh auto 0 auto;
    font-family: "Poppins", sans-serif;
}






/*adaptation lorsque l'écran est inférieur à 899px*/
@media screen and (max-width: 899px) {

    /*adaptation mobile partie haute*/
    header {
        display: grid;
        grid-template-columns: 1fr;
        /*pour que le header soit organisé en une seule colonne*/
    }

    h1 {
        justify-self: center;
        padding: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        /*liens en colonne en passant par un flex*/
        padding-right: 0rem;
    }

    nav a {
        padding-bottom: 0.6rem;
    }

    h2 {
        text-align: center;
    }


    /*adaptation mobile page index*/


    .aproposaccueil {
        width: 90vw;
        height: 53vh;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 0rem 1.5rem 0rem 1.5rem;
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .aproposaccueil p {
        font-size: 0.84rem;
    }

    .aproposaccueil h2,
    .aproposaccueil a {
        text-align: center;
    }

    .aproposaccueil h2 {
        font-size: 1.5rem;
    }

    .aproposaccueil a {
        font-size: 0.8rem;
    }

    .bandeau1 {
        height: 58vh;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mesprojetsaccueil,
    .container3 {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 70vw;
        justify-self: center;
        align-content: center;
    }

    .container2,
    .container3 {
        margin: 5rem 0 5rem 0;
    }

    #imgprojets,
    #imgprojetshover {
        padding: 0;
    }

    .container2 h2,
    .container3 h2 {
        text-align: center;
        font-size: 2.5rem;
        padding-bottom: 2rem;
        padding-left: 0;
        margin-bottom: 3rem;
    }

    .container2 p,
    .container3 p {
        text-align: justify;
        font-size: 0.9rem;
        padding-bottom: 2rem;
        padding-right: 0;
        margin: 0;
    }

    .mesprojetsaccueil p,
    .contactezmoiaccueil p {
        font-weight: 200;
    }

    .bandeau2,
    .bandeau3 {
        height: 20vh;
        width: 100%;
    }

    strong.g {
        color: #444343;
    }

    /*adaptation mobile page apropos*/

    .galerieformations {
        display: grid;
        grid-template-columns: minmax(200px, 1fr);
        width: 70vw;
    }

    .galerieformations p {
        font-weight: 200;
    }

    .imgcomp {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70vw;
        margin: 0 auto;
    }

    .imgcomp img {
        padding-bottom: 2rem;
        padding-left: 0;
        width: 60vw;
    }


    /*adaptation mobile page projets-portfolio*/

    #galerie {
        display: grid;
        grid-template-columns: minmax(200px, 1fr);
        grid-template-rows: auto;
        justify-content: center;
        row-gap: 8vh;
        gap: 4vh;
        width: 80vw;
        /*pour diminuer un peu la largeur de la galerie*/
        margin-top: 5rem;
    }

    #galerie img {
        padding: 0;
    }

    #galerie p {
        font-weight: 200;
    }

    #liensCat {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    #liensCat button {
        font-size: 1rem;
    }


    /*adaptation mobile page projet2*/
    .containerprojet {
        display: flex;
        flex-direction: column;
        /*pour que le contenu de la page projet2 soit organisé en une seule colonne*/
        width: 90vw;
        /*pour diminuer la largeur de la page projet2 par rapport à la viewport*/
        margin: 0 auto;
        /*pour centrer la page projet2*/
        padding: 0 32px 0 32px;
    }

    .descriptionprojet h3,
    .descriptionprojet p {
        font-weight: 200;
    }

    .galerieprojet form {
        width: 60vw;
    }

    #boutonForm {
        width: 15vw;
    }

    .imgprojet img {
        width: 75vw;
    }

    .cartepoke {
        width: 60vw;
    }


    /*adaptation mobile titres h2*/
    .mesprojets h2,
    .apropos h2,
    .contactezmoi h2,
    .competences h2,
    .parcours h2,
    .portfolio h2,
    .contact h2 {
        font-size: 2.5rem;
        padding-bottom: 2rem;
        margin-bottom: 3rem;
    }



    /*adaptation mobile page contact*/
    form {
        width: 80vw;
        /*pour diminuer la largeur du form par rapport à la viewport*/
    }

    input,
    textarea {
        width: 50vw;
        /*pour diminuer la largeur des champs par rapport à la viewport*/
    }


    /*adaptation mobile pour footer*/

    #footer p {
        font-size: small;
    }

}